<div class="medium-list">
  <div class="list-viewer-wrapper">
    <div class="list-header-title">Login</div>

    <form [formGroup]="loginForm" (ngSubmit)="loginForm.valid && onLoginSubmit()" novalidate >
      <div class="form-container">
        
        <mat-form-field>
          <input id="email"
                 matInput
                 formControlName="email"
                 [(ngModel)]="loginUser.email"
                 placeholder="Enter your Email"
                 />
        </mat-form-field>

      <mat-form-field>
          <input id="password"
                 matInput
                 formControlName="password"
                 [(ngModel)]="loginUser.password"
                 placeholder="Enter your password"
                 [type]="hide ? 'password':'text'" />
            <mat-icon matSuffix (click)="hide = !hide">
              {{hide ? 'visibility_off' : 'visibility'}}
            </mat-icon>
        </mat-form-field>

        <button mat-button type="submit"  class="mat-raised-button mat-primary" [disabled]="!loginForm.valid" (click)="onLoginClick()" >Login</button>
        <button mat-button routerLink="/registration" class="divider">Register</button>
      </div>

    </form>
  </div>
</div>